<div class="main-container">
    <header class="header header-6">
        Covid stats
    </header>
    <div class="content-container">
        <nav class="sidenav" style="width: 25%; padding-right: 10px;">
            <section class="sidenav-content">
                <section class="nav-group">
                    <stat-playground-navigation></stat-playground-navigation>
                </section>
            </section>
        </nav>
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
