<clr-main-container>
    <clr-header class="header-6">
        <h3 class="header__title">COVID-19 stats</h3>
    </clr-header>
    <div class="content-container">
        <nav class="sidenav" [clr-nav-level]="1">
            <section class="sidenav-content">
                <section class="nav-group">
                    <stat-playground-navigation></stat-playground-navigation>
                </section>
            </section>
        </nav>
        <main class="content-area">
            <router-outlet></router-outlet>
        </main>
    </div>
</clr-main-container>
