<div class="main-container">
    <header class="header header-6">
        <h3 class="header__title">COVID-19 stats</h3>
    </header>
    <div class="content-container">
        <nav class="sidenav sidenav__nav">
            <section class="sidenav-content">
                <section class="nav-group">
                    <stat-playground-navigation></stat-playground-navigation>
                </section>
            </section>
        </nav>
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
